/* ----Font styles---- */
@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@500&family=Ibarra+Real+Nova:wght@500&family=Josefin+Sans&family=Oswald&family=Pacifico&family=Poppins:wght@400;500&family=The+Nautigal:wght@700&display=swap');

body{
    font-family: 'Ibarra Real Nova', serif;
}

/* ------header styles----- */

.top-banner{
    display: flex;
    background-color: #161616;
    width: 1050px;
    height: 604px;
    margin-top: 50px;
    margin-left: 210px;
    border-radius: 30px;
}
.banner-heading{
    font-size: 60px;
}
.banner-text{
    color: white;
    margin-left: 50px;
    margin-top: 80px;
}
.banner-link{
    color: white;
    text-decoration: none;
    background-color: rgb(203, 74, 34);
    padding: 8px 20px;
    border-radius: 5px;
}
.special{
    color: orange;
}
.banner-image img{
    width: 570px;
    height: 599px;
    margin-right: 10px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    /* margin-left: 50px; */
}
.contant{
    display: flex;
    /* column-gap: 10px; */
    width: 1210px;
    height: 400px;
    background-color: white;
    margin-bottom: 200px;
}
.contant-blog{
    height: 320px;
    width: 380px;
    border-radius: 10px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
}
.contant-blog a{
    text-decoration: none;
    color: black;
}
.link-match{
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 20px;
}
.link-group{
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    padding: 15px 60px;
    font-weight: 600;
    font-size: 20px; 
}
.link-blog{
    background-color: red;
    border: 1px solid black;
    border-radius: 8px;
    padding: 15px 85px;
    font-weight: 600;
    font-size: 20px;
}
.contant-match{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 5px;
}
.contant-match img{
    height: 150px;
}
.match-info{
    border: 1px solid gray;
    border-radius: 9px;
    margin-left: 47px;
    padding-bottom: 10px;
}
.match-info a{
    text-decoration: none;
    color: #161616;
}
.info{
    background-color: white;
    border: 1px solid black;
    padding: 2px 10px;
    border-radius: 5px;
}
.match-text{
    margin-left: 20px;
}

.tab-button{
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        background-color: orangered;
        border: 1px solid orangered;
        border-radius: 10px;
        padding: 10px;
        width: 100px;
        align-items: center;
        justify-content: center;
        margin-left: 690px;
        visibility: hidden;
}
.tab-button a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.ending{
    margin-top: 100px;
    background-color: #161616;
    height: 40vh;
    width: 100%;
}
.ending-text{
    color: white;
    text-align: center;
    margin-top: 5px;
    padding-top: 100px;
}
hr{
    border: 1px solid gray;
    width: 80%;
    margin-bottom: 30px;
}
.option{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-left: 140px;
}
.option a{
    text-decoration: none;
    color: #B9B9B9;
}
.facebook{
    margin-right: 30px;
}
.insta{
    margin-left: 30px;
}
.footer-icon{
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    row-gap: 10px;
}

/* Responsive version ------*/

@media only screen and (min-width:769px) and (max-width:1024px) {
    .top-banner{
        width: 1050px;
        height: 604px;
        margin-left: 4px;
    }
    .container{
        margin-top: 100px;
    }
    .contant{
        width: 1210px;
        height: 400px;
        margin-bottom: 200px;
    }
    .contant-blog{
    height: 250px;
    width: 184px;
    }
    .link-blog{
        padding: 10px 70px;
    }
    .link-group{
        padding: 10px 45px;
    }
    .link-match{
        padding: 10px 13px;
    }
    .contant-match{
        grid-template-columns: repeat(3, 260px);
    }
    .match-info{
        border: none;
    }
    .ending{
        height: 250px;
        width: 1050px;
    }
}
/* Tablet version -----*/

@media only screen and (min-width:481px) and (max-width:768px) {
    .top-banner{
        width: 757px;
        height: 760px;
        margin-left: 20px;
        margin-top: 0px;
    }
    .banner-text {
        margin-left: 34px;
        margin-top: 40px;
    }
    .banner-image img {
        width: 498px;
        height: 615px;
    }
    .container{
        margin-left: 21px;
    }
    .contant{
        margin-bottom: 540px;
    }
    .contant-blog{
            height: 51px;
            width: 360px;
            row-gap: 80px;
            column-gap: 64px;
            position: absolute;
            display:  -webkit-box;
            margin-top: -60px;
            margin-left: 0px;
            background-color: white;
        }
    .contant-match {
            grid-template-columns: repeat(2, 318px);
            column-gap: 55px;
            row-gap: 28px;
        }
    .ending{
            width: 810px;
        }
    .option {
            display: grid;
            grid-template-columns: repeat(6, 122px);
            text-align: center;
            margin-left: 5px;
    }
    .tab-button{
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        background-color: orangered;
        border: 1px solid orangered;
        border-radius: 10px;
        padding: 10px;
        width: 100px;
        align-items: center;
        justify-content: center;
        margin-left: 333px;
        visibility: visible;
}
.tab-button a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
} 

/* Mobile Version ---------*/
@media only screen and (min-width:320px) and (max-width:480px) {
    .top-banner {
            display: flex;
            flex-direction: column;
            background-color: #161616;
            width: 800px;
            height: 1055px;
            margin-top: 0px;
            margin-left: 7px;
            border-radius: 30px;
            text-align: center;
    }
    .banner-text {
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 80px;
    }
    .banner-image{
        text-align: center;
    }
    .banner-image img {
        width: 583px;
        height: 600px;
        margin-right: -54px;
        margin-top: 33px;
    }
    .container{
        display: block;
        margin-top: 50px;
    }
    .contant{
        display: block;
        width: 0px;
        height: 2690px;
        column-gap: 10px;
    }
    .contant-blog{
        width: 320px;
        height: 380px;
        background-color: white;
        margin-left: 227px;
    }
    .contant-match{
        grid: none;
        row-gap: 28px;
        margin-left: 170px;
    }
    .contant-match img {
        width: 350px;
        height: 225px;
    }
    .ending{
        height: 430px;
        width: 795px;
    }
    .option{
        grid: none;
        display: flex;
        flex-direction: column;
        margin-left: -8px;
        align-items: center;
    }
}